<ion-view view-title="Mutabakat">
  <ion-content class="padding">

    <ion-list ng-if="elems.length" style="width: 100%;">
      <div class="item item-avatar item-icon-right" ng-repeat="elem in elems">
        <img src="http://placehold.it/40x40">

        <h2>{{elem.name}}</h2>

        <p>{{elem.amount}}</p>

        <i ng-if="elem.status == 'PAID'" style="color: {{elem.color}}" class="icon ion-checkmark-circled"></i>
        <i ng-if="elem.status == 'UNPAID'" style="color: {{elem.color}}" class="icon ion-close-circled"></i>
        <i ng-if="elem.status == 'CONFIRMED'" style="color: {{elem.color}}" class="icon ion-loop"></i>
      </div>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
