<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-content class="padding" has-header="false">


    <img style="width: 100vw; margin-top: 30px;" src="img/odesh-logo-1.png"/>

    <div class="list">

      <div class="item item-input-inset" style="border: none !important; margin-top: 10vh;">
          <input placeholder="ADİSYON KODUNU GİRİNİZ" type="text" ng-model="data.code" class="odesh-input" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;" placeholder="Kodu Giriniz">
        <button class="button button-small odesh-code-button" ng-click="enterCode()">
          <span style="vertical-align: text-top;">></span>
        </button>
      </div>

    </div>



  </ion-content>
</ion-view>
