<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div id="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" id="search-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" style="width: 100%;" placeholder="Search" ng-model="query" ng-change="searchUser(query)" ng-model-options="{debounce: 500}">
          <ion-spinner ng-if="searchInProgress" icon="spiral"></ion-spinner>
        </label>

      </div>

      <ion-list ng-if="searchResult.length" style="width: 100%; z-index: 9999; position: fixed;">
        <div class="item item-avatar" ng-repeat="result in searchResult" ng-click="addUserToTable(result.id)">
          <img src="http://placehold.it/40x40">
          <h2>{{result.username}}</h2>
        </div>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
